simplesamlphp-centos6-core/rpmbuild/BUILD
simplesamlphp-centos6-core/rpmbuild/BUILDROOT
simplesamlphp-centos6-core/rpmbuild/RPMS
simplesamlphp-centos6-core/rpmbuild/SRPMS
userregistration-centos6/rpmbuild/BUILD
userregistration-centos6/rpmbuild/BUILDROOT
userregistration-centos6/rpmbuild/RPMS
userregistration-centos6/rpmbuild/SRPMS
